@mixin base-theme($text-color, $background-color) {
  p {
    color: $text-color;
  }
  body {
    background-color: $background-color;
  }
  a {
    color: $text-color !important;
  }
}

@mixin dark-theme() {
  @include base-theme(black, white);
}

@mixin light-theme() {
  @include base-theme(red, purple);
}