@mixin base-theme($text-color, $background-color) {
  p, button:not(.segmented-button) {
    color: $text-color;
  }
  body {
    background-color: $background-color;
  }
  a {
    color: $text-color !important;
  }
}

@mixin light-theme() {
  @include base-theme(#333, #f5f5f5);
}

@mixin dark-theme() {
  @include base-theme(#f5f5f5, #333);
}