.wip-warning {
  border: 2px solid #b0bec5;
  border-radius: 5px;
}

.head {
  height: 30%;
}

button {
  width: 200px;
  height: 50px;
}

.tagline {
  color: #00838f;
}
.tagline-divider {
  color: #263238;
}
