<div class="position-absolute m-2 d-flex align-items-center">
  <mat-icon
    class="me-2"
    [ngClass]="{
      'active-icon-light': theme == '',
      'inactive-icon-dark': theme == 'dark-theme'
    }"
    ><fa-icon [icon]="faSun"></fa-icon></mat-icon
  ><mat-slide-toggle
    [checked]="theme == 'dark-theme'"
    (change)="onSlideToggleChange($event)"
  ></mat-slide-toggle
  ><mat-icon
    class="ms-2"
    [ngClass]="{
      'active-icon-dark': theme == 'dark-theme',
      'inactive-icon-light': theme == ''
    }"
    ><fa-icon [icon]="faMoon"></fa-icon
  ></mat-icon>
</div>
<div class="head d-flex align-items-end justify-content-start ms-4 mb-1">
  <p class="header fs-1 fw-bold">Hey, I'm Keegan</p>
</div>
<div class="d-flex align-items-center justify-content-start ms-4 mb-1">
  <p class="fs-4 fw-bold">Frontend & Design Developer</p>
</div>
<div class="d-flex flex-column">
  <button
    mat-stroked-button
    class="ms-4 mb-4"
    [ngClass]="{
      'button-dark-mode': theme == 'dark-theme',
      'button-light-mode': theme == ''
    }"
    (click)="onLinkClick('github')"
  >
    <div class="d-flex align-items-center justify-content-center">
      <fa-icon [icon]="faGithub" class="fs-4 me-2"></fa-icon>Github
    </div>
  </button>
  <button
    mat-stroked-button
    class="ms-4 mb-4"
    [ngClass]="{
      'button-dark-mode': theme == 'dark-theme',
      'button-light-mode': theme == ''
    }"
    (click)="onLinkClick('linkedin')"
  >
    <div class="d-flex align-items-center justify-content-center">
      <fa-icon [icon]="faLinkedin" class="fs-4 me-2"></fa-icon>LinkedIn
    </div>
  </button>
  <button
    mat-stroked-button
    class="ms-4 mb-4"
    [ngClass]="{
      'button-dark-mode': theme == 'dark-theme',
      'button-light-mode': theme == ''
    }"
    (click)="onLinkClick('stack')"
  >
    <div class="d-flex align-items-center justify-content-center">
      <fa-icon [icon]="faStackOverflow" class="fs-4 me-2"></fa-icon>Stack
      Overflow
    </div>
  </button>
  <button
    mat-stroked-button
    class="ms-4"
    [ngClass]="{
      'button-dark-mode': theme == 'dark-theme',
      'button-light-mode': theme == ''
    }"
    (click)="onLinkClick('medium')"
  >
    <div class="d-flex align-items-center justify-content-center">
      <fa-icon [icon]="faMedium" class="fs-4 me-2"></fa-icon>Medium
    </div>
  </button>

  <kee-button></kee-button>
</div>
