<div class="h-100 w-100 d-flex align-items-center justify-content-center">
  <div class="d-flex flex-column align-items-center">
    <p class="fs-1 fw-bold">Hey, I'm Keegan</p>
    <p class="fs-4 fw-bold">Frontend & Design Developer</p>
    <button class="button--text ms-2 mb-3" (click)="onLinkClick('github')">
      <div class="d-flex align-items-center justify-content-center">
        <fa-icon [icon]="faGithub" class="fs-4 me-2"></fa-icon>Github
      </div>
    </button>
    <button class="button--text ms-2 mb-3" (click)="onLinkClick('linkedin')">
      <div class="d-flex align-items-center justify-content-center">
        <fa-icon [icon]="faLinkedin" class="fs-4 me-2"></fa-icon>LinkedIn
      </div>
    </button>
    <button class="button--text ms-2 mb-3" (click)="onLinkClick('stack')">
      <div class="d-flex align-items-center justify-content-center">
        <fa-icon [icon]="faStackOverflow" class="fs-4 me-2"></fa-icon>Stack
        Overflow
      </div>
    </button>
    <button class="button--text ms-3" (click)="onLinkClick('medium')">
      <div class="d-flex align-items-center justify-content-center">
        <fa-icon [icon]="faMedium" class="fs-4 me-2"></fa-icon>Medium
      </div>
    </button>
  </div>
</div>
