$breakpoint: 768px;

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media (max-width: $breakpoint) {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}