@import "~@angular/material/theming";

$surface-palette: (
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #262626,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$pink-palette: (
  50: #fef5f6,
  100: #fce5ea,
  200: #fad4dc,
  300: #f8c3cd,
  400: #f7b6c3,
  500: #f5a9b8,
  600: #f4a2b1,
  700: #f298a8,
  800: #f08fa0,
  900: #ee7e91,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #fff4f6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$blue-palette: (
  (
    50: #ebf9fe,
    100: #cef0fe,
    200: #ade7fd,
    300: #8cddfc,
    400: #74d5fb,
    500: #5bcefa,
    600: #53c9f9,
    700: #49c2f9,
    800: #40bcf8,
    900: #2fb0f6,
    A100: #ffffff,
    A200: #ffffff,
    A400: #d2eeff,
    A700: #b8e5ff,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #000000,
      800: #000000,
      900: #000000,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  )
);

$warn: mat-palette($mat-red);
