@use "@angular/material" as mat;
@import "colors";
@import "./../helpers/mixins.scss";

@include mat-core();

$app-theme: mat.define-light-theme(
  mat.define-palette($blue-palette),
  mat.define-palette($pink-palette),
  mat.define-palette($warn)
);

@include angular-material-theme($app-theme);

.mat-icon {
  height: unset !important;
  width: unset !important;
  &.primary-icon {
    color: $pink-500;
  }
  &.inactive-icon-light {
    color: $surface-200;
  }
  &.active-icon-light {
    color: $surface-400;
  }
  &.inactive-icon-dark {
    color: $surface-600;
  }
  &.active-icon-dark {
    color: $surface-400;
  }
}

.mat-slide-toggle {
  &.mat-checked {
    @include neutral-slide-toggle($surface-400, $surface-600);
  }
  &:not(.mat-checked) {
    @include neutral-slide-toggle($surface-200, $surface-300);
  }
}
