@use "@angular/material" as mat;
@import "colors";
@import "./../helpers/mixins.scss";

@include mat-core();

$app-theme: mat.define-light-theme(
  mat.define-palette($primary-palette),
  mat.define-palette($secondary-palette),
  mat.define-palette($warn)
);

@include angular-material-theme($app-theme);

.mat-icon {
  height: unset !important;
  width: unset !important;
  &.primary-icon {
    color: $secondary-900;
  }
  &.inactive-icon-light {
    color: $surface-200;
  }
  &.active-icon-light, &.active-icon-dark  {
    color: $surface-400;
  }
  &.inactive-icon-dark {
    color: $surface-600;
  }
}

.mat-slide-toggle {
  &.mat-checked {
    @include neutral-slide-toggle($surface-400, $surface-600);
  }
  &:not(.mat-checked) {
    @include neutral-slide-toggle($surface-200, $surface-300);
  }
}

.mat-stroked-button {
  background: transparent;
  max-width: 45vw;
  height: 65px;
  &.button-dark-mode {
    @include stroked-button($surface-50, $primary-500)
  }
  &.button-light-mode {
    @include stroked-button($surface-900, $primary-900)
  }

}
