/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";
@include mat-core();

$dark-background: mat-color($mat-gray, 900);
$warn: mat-palette($mat-red);
$blue-palette: mat-palette($mat-light-blue, A200);
$pink-palette: mat-palette($mat-pink, A100);
$blue-primary: mat-color($blue-palette);
$blue-darker: mat-color($blue-palette, darker);
$blue-lighter: mat-color($blue-palette, lighter);
$pink-primary: mat-color($pink-palette);
$pink-darker: mat-color($pink-palette, darker);
$pink-lighter: mat-color($pink-palette, lighter);

$light-app-theme: mat-light-theme(
  (
    color: (
      primary: mat-palette($blue-palette),
      accent: mat-palette($pink-palette),
      warn: $warn,
    ),
  )
);

$dark-app-theme: mat-dark-theme(
  (
    color: (
      primary: mat-palette($blue-palette),
      accent: mat-palette($pink-palette),
      warn: $warn,
    ),
  )
);

@include angular-material-theme($light-app-theme);

.dark-theme {
  @include angular-material-color($dark-app-theme);
  h1 {
    color: $blue-darker;
  }
  p {
    color: $blue-lighter;
  }
  body {
    background-color: $dark-background;
  }
  .tagline {
    color: $blue-lighter;
  }
  .tagline-divider {
    color: $blue-darker;
  }
  a {
    color: $blue-darker !important;
  }
  button {
    background-color: $blue-darker !important;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Raleway, "Helvetica Neue", sans-serif !important;
}

h1 {
  color: $blue-darker;
}

p {
  color: $blue-primary;
}

.tagline {
  color: $blue-primary;
}

.tagline-divider {
  color: $blue-darker;
}

a {
  color: $blue-darker !important;
}

fa-icon {
  color: $pink-primary !important;
}

button {
  background-color: $blue-darker !important;
}
