/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";
@include mat-core();

$dark-background: mat-color($mat-gray, 900);
$dark-primary: mat-palette($mat-teal, 300);
$dark-accent: mat-palette($mat-teal, 100);
$warn: mat-palette($mat-red);
$light-background: white;
$light-primary: mat-palette($mat-teal, 800);
$light-accent: mat-palette($mat-teal, 300);

$light-app-theme: mat-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $warn,
    ),
  )
);

$dark-app-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $warn,
    ),
  )
);

@include angular-material-theme($light-app-theme);

.dark-theme {
  @include angular-material-color($dark-app-theme);

  p {
    color: white;
  }
  body {
    background-color: $dark-background;
  }
  .tagline {
    color: mat-color($dark-primary);
  }
  .tagline-divider {
    color: white;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Raleway, "Helvetica Neue", sans-serif !important;
}

p {
  color: $dark-background;
}

.tagline {
  color: mat-color($light-primary);
}

.tagline-divider {
  color: $dark-background;
}

a {
  color: #0091ea !important;
}
