@import "./theme/bootstrap-modules";
@import "./helpers/mixins.scss";

@include light-theme();

.dark-theme {
  @include dark-theme();
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Raleway, "Helvetica Neue", sans-serif !important;
}
